$blue: #0d6dfd13;
$indigo: #544d6100;
$purple: #6c5a8d00;
$pink: #a05b7d00;
$red: #131003;
$orange: #6a398a00;
$yellow: #97803ade;
$green: #705a3100;
$cyan: #1a353a;
$teal: #669789;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;
